<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/Athletes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

df = pd.read_excel('https://raw.githubusercontent.com/wtitze/3E/main/Athletes.xlsx')
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

11. visualizzare i nomi degli atleti italiani

In [ ]:
df[df['NOC'] == 'Italy'][['Name']]

12. controllare se gli atleti italiani sono di piÃ¹ o di meno degli atleti francesi

In [ ]:
if [df['NOC'].count() == 'Italy'] > [df['NOC'].count() == 'France']:
  print('ita')
else:
    print('fra')

13. visualizzare tutti gli atleti che si chiamano Giovanni

In [ ]:
df[df['Name'].str.contains('Giovanni')]

14. visualizzare gli atleti che si chiamano Alberto ma che non sono italiani

In [ ]:
df[(df['Name'].str.contains('Alberto')) & (df['NOC'] != ('Italy'))]

15. visualizzare il numero di atleti della squadra di basket spagnola

In [ ]:
len(df[(df['Discipline'] == ('Basketball')) & (df['NOC'] == ('Spain'))])

16. visualizzare i dati del dataframe ordinati in ordine alfabetico sulla disciplina

In [ ]:
df.sort_values(by = 'Discipline', ascending = True)

17. visualizzare gli atleti scandinavi

In [ ]:
df[(df['NOC'] == 'Norway') | (df['NOC'] == 'Finland') | (df['NOC'] == 'Sweden')]

18. eliminare tutti gli atleti della Francia

In [ ]:
df = df.loc[df["NOC"] != 'France' ] #loc Ã¨ usato per recuperare righe da DataFrame Pandas
df
#tiene tutte le righe diverse da francia

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[10708 rows x 3 columns]