<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/eseBase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

In [ ]:
a = 10 
b = 20
c = 10.5

print(a,b,c)

10 20 10.5

In [ ]:
somma = a + b 
sottrazione = a - b
moltiplicazione = a * b
divisione = a / b

print (somma,sottrazione, moltiplicazione, divisione)

In [ ]:
# inserimento dati

peso = input ("Inserisci il tuo peso ")
altezza = input ("Inserisci la tua altezza ")
imc = int(peso) / (float(altezza) * float(altezza))

print ("Il tuo indice di massa corporea è ", imc)

if imc <= 16:
  print  ("Grave magrezza")
elif imc < 18:
 print ("Sovrappeso")
elif imc < 25:
 print ("Normopeso")
elif imc < 30:
 print ("Sovrappeso")
elif imc >= 31:
  print ("Grave sovrappeso")

Inserisci il tuo peso 3
Inserisci la tua altezza 3
Il tuo indice di massa corporea è  0.3333333333333333
Grave magrezza

In [ ]:
#scrivere un programma che calcoli le tasse da pagare
#se il reddito inferiore a 30 k si paga 15%
#se compreso tra 30/60 k si paga 20%
#se superiore a 60 k si paga 30%

reddito = (input("Inserisci il tuo reddito: "))
if reddito <= "30000": 
 tasse = int(reddito) / 100 * 15
elif reddito <= "60000": 
 tasse = int(reddito) / 100 * 20
elif reddito >= "60000": 
  tasse = int(reddito) / 100 * 30

print ("Tasse da pagare: ", tasse)

In [ ]:
#un negozio vuole incetivare gli acquisti applicando sconti maggiori a chi spende di +. 
#se spende fino a 100 sconto del 15 %
#se spende da 100 a 200 sconto del 20%
# se spende da 200 a 300 sconto del 40%
#oltre 400 sconto del 60%
#scrivere un programma che dato il totale calcoli il prezzo finale che il cliente deve pagare

spesa = (input("totale spesa: "))

if spesa == "100":
 sconto = float(spesa) / 100 * 15
elif spesa <= "200":
 sconto = float(spesa) / 100 * 20
elif spesa <= "300":
 sconto = float(spesa) / 100 * 40
elif spesa > "400":
 sconto = float(spesa) / 100 * 60
spesa = float(spesa) - float(sconto)

print ("prezzo finale è", spesa)

In [ ]:
#Liste
a = []

In [ ]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#indica il tipo
type(b)

list

In [ ]:
lista = [12, "pippo", 37, 92, ["qui", [8, 12, 24], "qua"], 58] 
print(lista[4][1][2])

24

In [ ]:
lista1 = [1,2,3,4,5,6,7,8,9,10]
print (lista1[-1]) #trova l'ultimo elemento della lista

10

In [ ]:
#trovare num da 3 a 6
num = [0,11,23,33,44,5,6,8,7,9]
print(num[3:7]) 
#visualizzazione degli ultimi 5 elem
print(num[5:])
#visualizzazione primi 5 elem
print(num[:5])
#visualizzazione del penultimo e terzultimo
print(num[-8:-6])#considera il primo num(-8) come partenza e il secondo num(-6) quello prima = -5

#visualizzazione numeri due a due
print(num[3:10:2])
#visualizzazione numeri due a due partendo da 0 fino alla fine
print(num[::2])

[33, 44, 5, 6]
[5, 6, 8, 7, 9]
[0, 11, 23, 33, 44]
[23, 33]
[33, 5, 8, 9]
[0, 23, 44, 6, 7]

In [ ]:
12 in num

False

In [ ]:
stringa = "la mamma è bella"
print(stringa)
lista = list(stringa) #trasforma la stringa in una lista
print(lista)

la mamma è bella
['l', 'a', ' ', 'm', 'a', 'm', 'm', 'a', ' ', 'è', ' ', 'b', 'e', 'l', 'l', 'a']

In [ ]:
lista = [1,2,3]
#aggiunge un elemento alla fine
lista.append (12) 
print (lista)
lista.append([10,19])
print (lista)
#aggiunge una lista dalla lista alla lista
lista.extend([20,30])
print (lista)

[1, 2, 3, 12]
[1, 2, 3, 12, [10, 19]]
[1, 2, 3, 12, [10, 19], 20, 30]

In [ ]:
#Inizializzare una lista con 8, 18, 27, -8, 51, 40, -9, -76
lista= [8, 18, 27, -8, 51, 40, -9, -76]
print (lista)

[8, 18, 27, -8, 51, 40, -9, -76]

In [ ]:
#Aggiungere in fondo alla lista i valori 7, 4, 95
lista.extend([7,4,5])
print (lista)

[8, 18, 27, -8, 51, 40, -9, -76, 7, 4, 5]

In [ ]:

#Aggiungere all'inizio della lista i valori 7, 4, 95
#lista1= [8, 18, 27, -8, 51, 40, -9, -76]
#lista1.insert(0,[3,99,7]) 
print (lista1)

#Visualizzare il numero di elementi della lista 
len(lista1) 

#Aggiungere in quarta posizione il valore 100
lista1.insert (4, 100)
print (lista1)

#Eliminare il terzultimo elemento della lista
del lista1[-3]
print(lista1)

In [ ]:
#Visualizzare il valore massimo, minimo della lista
lista2= [7, 18, 27, -8, 50, 40, -9, -73]

max(lista2)
print("min =",min(lista2))


#Calcolare la somma degli elementi della lista 
print("total =",sum(lista2))

#Calcolare la media degli elementi della lista
print("average =",sum(lista2)/len(lista2))

min = -73
total = 52
average = 6.5

In [ ]:
#Rimuovere dalla lista il numero 7
lista2= [7, 18, 27, -8, 50, 40, -9, -73]
lista2.remove(7)
print(lista2)

#Visualizzare gli elementi di posto pari
print(lista2[2::2])
#Visualizzare gli elementi di posto dispari

[18, 27, -8, 50, 40, -9, -73]
[-8]

In [ ]:

13. Visualizzare gli elementi di posto pari
14. Visualizzare gli elementi di posto dispari
15. Visualizzare i primi 5 elementi 
16. Visualizzare gli ultimi 5 elementi
17. Visualizzare i 5 elementi centrali
18. Rimuovere i duplicati presenti nella lista