<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/esercizi_vettori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrivere al di sotto di ogni esercizio il codice richiesto. Al termine, consegnare su classroom il notebook realizzato.

0. assegnare alle variabili x, y e z i valori 10, 20 e 30 in un'unica istruzione. Assegnare alle variabili a, b e c il valore 100 sempre in un'unica istruzione

In [ ]:
print ("x = 10, y = 20, z = 30")
print ("a, b, c = 100")

1. far inserire all'utente due numeri interi, scambiarli e visualizzarli

In [ ]:
n1 = input ("Inserisci il primo numero ")
n2 = input ("Inserisci il secondo numero ")

print ("a =", n1)
print ("B =", n2)


print ("inverti", n2 )
print ("inverti", n1)

2. far inserire all'utente due numeri e calcolare lìelevamento a potenza del primo per il secondo. Provare poi a vedere qualk è l amasisma potenza del 2 che Python riece a calcolare: lo smartphone è altrettanto potente?

3. far inserire all'utente tre numeri e visualizzare il massimo dei tre

In [ ]:
n1 = input ("Inserisci il primo numero ")
n2 = input ("Inserisci il secondo numero ")
n3 = input ("Inserisci il terzo numero ")

if n1 > n2 and n3: 
  print  ("valore max =", n1)
elif n2 > n1 and n2:
  print  ("valore max =", n2)
elif n3 > n1 and n2:
  print  ("valore max =", n3)

4. dati tre numeri, dire se con quei tre numeri possiamo costruire un triangolo

5. far inserire dall'utente le misure di due cateti di un triangolo rettangolo (valori reali) e calcolare l'area del rettangolo e l'ipotenusa

6. far inserire un numero intero dall'utente e dire se è pari o dispari

In [ ]:
n1 = input ("Inserisci il numero: " )


print (n1)
if int(n1) % 2 == 0:
 print("pari") 
else :
  print ("dispari")

7. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

8. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

In [ ]:
#da fahrenheit a centrigradi

9. far inserire all'utente una velocità in Km/h e visualizzare la stessa velocità in metri al secondo

In [ ]:
Km = input ("")
Km = int(Km) / 3.6
print (Km)

10. far inserire all'utente il raggio di un cerchio e visualizzarne il diametro e l'area

11. far inserire all'utente il suo nome e poi il suo cognome e visualizzare il suo cognome e il suo nome separati da uno spazio

In [ ]:
nome = input("")
cognome = input ("")

print(cognome, "", nome)

12. far inserire all'utente un numero e visualizzare il suo valore assoluto

In [ ]:
numero = input ("")
if numero < 0:

13. far inserire all'utente un voto e controllare che sia compreso tra 1 e 10, estremi inclusi, Se è compreso visualizzare la stringa 'OK' altrimenti visualizzare la stringa 'KO'

In [ ]:

n1 = input("")

if float(n1) < 0 and float(n1) > 10:
 print ("OK")
else:
 print ("KO")

14. far inserire all'utente due numeri e dire se uno è multiplo dell'altro. Ad esempio se l'utente inserisse i valori 60 e 15 il programma dovrebbe visualizzare la stringa '60 è un multiplo di 15'. Stessa cosa se l'utente inserisse prima il 15 e poi il 60., Se non sono multipli, visualizzare un messaggio appropriato

In [ ]:

n1 = input("")
n2 = input("")

if n1 % n2 = 0:

  print(n2, "è un multiplo di", n1)

15. far inserire all'utente la durata di un periodi di tempo in ore, minuti e secodni e convertirlo in secondi

In [ ]:
tempo = input("")
x = tempo

tempo = float(tempo) * 60
print ("minuti", tempo)

x = float(x) * 3600
print ("secondi", x)

16. far inserire all'utente la durata di un periodo in secondi e convertirlo in ore, minuti e secondi

In [ ]:
tempo = input ("")
x = tempo

tempo = float(tempo) / 3600
print ("ore", tempo)

x = float(x) / 60 
print ("minuti", x)