<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/Fontana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

caricare i dati del file in un dataframe Pandas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Teams.xlsx")
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

              Name      Discipline                         NOC  Event
0          Belgium  3x3 Basketball                     Belgium    Men
1            China  3x3 Basketball  People's Republic of China    Men
2            China  3x3 Basketball  People's Republic of China  Women
3           France  3x3 Basketball                      France  Women
4            Italy  3x3 Basketball                       Italy  Women
..             ...             ...                         ...    ...
738   South Africa      Water Polo                South Africa  Women
739          Spain      Water Polo                       Spain    Men
740          Spain      Water Polo                       Spain  Women
741  United States      Water Polo    United States of America    Men
742  United States      Water Polo    United States of America  Women

[743 rows x 4 columns]

visualizzare le discipline a cui l'Italia ha partecipato

In [ ]:
df[df['Name'] == 'Italy'][['Discipline']]

visualizzare il numero di discipline a cui hanno partecipato gli Stati Uniti

In [ ]:
len(df[df['Name'] == 'United States'][['Discipline']])

visualizzare il numero di squadre di basket femminile

In [ ]:
#len(df[(df.Event == "Women's Team") & (df.Discipline == "Basketball")])

len(df[df['Event'] == "Women's Team"]) #manca Woman

40

visualizzare le discipline a cui hanno partecipato la Gran Bretagna e la Francia

In [ ]:
df1 = df[df['Discipline'] == 'Great Britain'] == df[df['Discipline'] == 'France']
df1
###

controllare se le discipline a cui ha partecipato l'Italia sono di più o di meno di quelle a cui ha partecipato la Spagna

In [ ]:
if len(df[df['Discipline'] == 'Italy']) > len(df[df['Discipline'] == 'Spain']):
  print('più rispetto alla spagna')  
else:
  print('meno rispetto alla spagna')