<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/List_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ã¨ un metodo per caricare dati in una lista utilizzando il ciclo for all interno della lista stessa

per poter usare liste comprehension dobbiamo prima saper usare il for

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for parola in fruits:
  print(parola)
  for lettera in parola:
    print(lettera)

apple
a
p
p
l
e
banana
b
a
n
a
n
a
cherry
c
h
e
r
r
y

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(10, 16):
  print(x)

10
11
12
13
14
15

In [ ]:
for x in range(10, 21, 2):
  print(x)

10
12
14
16
18
20

In [ ]:
for x in range(21, 10, -1):
  print(x)

21
20
19
18
17
16
15
14
13
12
11

inizializzare una lista con i primi 10 numeri pari

In [ ]:
[numero for numero in range(0, 20, 2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

inizializzare una lista con numeri da 1000 al 2000 estremi compresi

In [ ]:
[numeri for numeri in range(1000, 2001)]

inizializzare un lista con numeri da 100 a 0

In [ ]:
x = [numeri for numeri in range(99, 0, -1)]
print(x)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

scrivere un programma che permette all utente di caricare una lista con i primi numeri interi, con n inserito dall utennte. calcolare la somma degli elementi presenti nella lista

In [ ]:
numero = int(input("inserisci num "))
lista = [numero for numero in range(1,numero + 1)]
print(lista)
sum(lista)

inserisci num 13
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

91

In [ ]:
n1 = 10
n2 = 8
massimo = n1 if n1 > n2 else n2
print(massimo)

10

In [ ]:
n1 = 10
n2 = 8
if n1 > n2:
 massimo = n1
else:
  massimo = n2
print(massimo)

10

caricare in una lista i primi 100 numeri interi, visualizzare la lista e caricare in un l altra lista solo i multipli di 5 nella prima lista

In [ ]:
lista1 =  [numero for numero in range(101)]
print(lista1)
lista2 = []
for elemento in lista1:
  if elemento % 5 == 0 :
    lista2.append(elemento)
print(lista2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [ ]:
lista1 =  [numero for numero in range(101)]
print(lista1)
lista2 = [elemento if elemento % 5 == 0 for elemento in lista1]
#non funge, troppo compatto

prendere in considerazione i dati su T e P della verifica e trovare 
1. le h in cui la P Ã¨ 0
2. le h in cui la T Ã¨ superiore a 20Â°

In [ ]:
T = [11, 11, 10, 9, 11, 12, 12, 12, 13, 14, 15, 17, 19, 21, 24, 24, 24, 22, 20, 18, 16, 14, 12, 11]
P = [90, 90, 90, 70, 70, 30, 0, 10, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 10, 15, 20, 25]

ora = 1 
for probabilita in P:
  if probabilita == 0:
    print(ora)
  ora += 1

print("")
ora = 1
for temperatura in T:
  if temperatura > 20:
    print(ora)
  ora += 1

scrivere un programma che aumenti di 1Â° tutte le T comprese tra le 10 e le 18 (estremi inclusi)

In [ ]:
lista2 = [numero for numero in range(10,19)]
for indice in lista2:
   T[indice] += 1
   print(T[indice])

16
18
20
22
25
25
25
23
21

scrivere un programma che conti il numero di volte in cui la T Ã¨ stata > di 15Â° e < di 20Â°

In [ ]:
count = 0
for val in T: 
 if val > 15 and val < 20:
   count += 1
print(count)

4

scrivere un programma che per ogni h sommi T e P

In [ ]:
lista3 = [numero for numero in range(24)]
for indice in lista3:
    somma = T[indice] + P[indice]
    print(somma)

print("")

# come indico al programma di scorrere i valori tra 0 e 23 senza usare una lista ?

#for indice in range[0,23,1]:
    #somma = T[indice] + P[indice]
    #print(somma)

101
101
100
79
81
42
12
22
23
14
16
18
20
22
25
25
25
23
21
23
26
29
32
36

TypeError: ignored