<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/Pandas_group_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_excel('https://raw.githubusercontent.com/wtitze/3E/main/Teams.xlsx')
df

              Name      Discipline                         NOC  Event
0          Belgium  3x3 Basketball                     Belgium    Men
1            China  3x3 Basketball  People's Republic of China    Men
2            China  3x3 Basketball  People's Republic of China  Women
3           France  3x3 Basketball                      France  Women
4            Italy  3x3 Basketball                       Italy  Women
..             ...             ...                         ...    ...
738   South Africa      Water Polo                South Africa  Women
739          Spain      Water Polo                       Spain    Men
740          Spain      Water Polo                       Spain  Women
741  United States      Water Polo    United States of America    Men
742  United States      Water Polo    United States of America  Women

[743 rows x 4 columns]

1.quante sono le squadre italiane

In [ ]:
df[df.Name == 'Italy'].count()['Name']

squadre tedesche

In [ ]:
df[df.Name == 'Germany'].count()['Name']

32

squadre di ogni nazione

In [ ]:
dfgroup = df.groupby('Name').count()[['NOC']] 
dfgroup

In [ ]:
dfgroup[dfgroup['NOC'] > 10] #stati con piÃ¹ di 10 squadre

In [ ]:
dfgroup = df.groupby('Name').count().reset_index()[['NOC']] 
dfgroup

                                                                    sercitazione

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/wtitze/3E/main/2010.csv', sep=';')
df

1. il numero di film per ogni lingua. Ordinare in ordine decrescente sul numero di film

In [ ]:
dfgroup = df.groupby('Language').count().sort_values(by = 'Title', ascending = False)[['Title']]
dfgroup

2. il numero di film per ogni nazione.

In [ ]:
dfgroup = df.groupby('Country').count().sort_values(by = 'Title', ascending = False)[['Title']] 
dfgroup

3. il budget totale che ogni nazione ha investito nei film. Ordinare in ordine decrescente base al budget totale

In [ ]:
dfgroup = df.groupby('Country').sum().sort_values(by = 'Budget', ascending = False)[['Budget']]
dfgroup

4. la nazione che ha investito il budget piÃ¹ alto

In [ ]:
dfgroup = df.groupby('Country').sum().sort_values(by = 'Budget', ascending = False)[['Budget']]
dfgroup[dfgroup['Budget'] == dfgroup['Budget'].max()]

5. il budget medio che ogni nazione ha investito nei film. Ordinare in ordine decrescente base al budget medio

In [ ]:
df.groupby ('Country')[['Budget']].mean().sort_values(by = 'Budget', ascending = False)


6. le nazioni che hanno investito, in media, un budget piÃ¹ basso rispetto alla media complessiva dei budget delle nazioni

In [ ]:
media_film = df.Budget.mean()
media_film

mediapernazione = df.groupby('Country')[['Budget']].mean()
mediapernazione

mediapernazione[mediapernazione.Budget < media_film]

7. il numero di film per ogni regista

In [ ]:
dfgroup = df.groupby('Director').count()[['Title']]
dfgroup

8. il regista che ha diretto piÃ¹ film

In [ ]:
#dfgroup = df.groupby('Director').count()[['Title']]
dfgroup['Title'].max()
dfgroup[dfgroup['Title'] == dfgroup['Title'].max()]

9. il numero di film per ogni genere

In [ ]:
dfgroup = df.groupby('Genres').count()[['Title']]
dfgroup