<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

una tupla Ã¨ una struttura dati ordinata e non modificabile. si forma con le parentesi tonde

In [1]:
tupla1 = (1,2,3,4,5)
print(tupla1)

(1, 2, 3, 4, 5)

gli elementi delle tuple sono ordinati, non modificabili, e consentono valori duplicati. si

In [11]:
tupla2= ("prova",)
print(tupla2)

print(type(tupla2)) #printa la classe

tupla2= ("prova")
print(type(tupla2)) #senza virgola

('prova',)
<class 'tuple'>
<class 'str'>

In [8]:
prova =tuple(["ciao", 24])
print(prova)

('ciao', 24)

generare 20 num random da 1 a 100, poi inserirli in una struttura dati adeguata che non sia modificabile

In [15]:
import random 
lista0 = tuple(random.sample(range(1,100), 20))
print(lista0)

print(type(lista0))

(17, 93, 68, 11, 81, 3, 50, 66, 52, 91, 35, 90, 36, 89, 82, 20, 6, 60, 67, 8)
<class 'tuple'>

aggiungere i primi 3 cognomi della classe in pos 1 all precendente vettore

In [22]:
tupla0 = list(lista0)
tupla0[0:0] = ["ava", "berna", "cottone"]
#print(tupla0)
lista0 = tuple(tupla0)
print(lista0)

('ava', 'berna', 'cottone', 17, 93, 68, 11, 81, 3, 50, 66, 52, 91, 35, 90, 36, 89, 82, 20, 6, 60, 67, 8)