<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/verifica_3E_fila_b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

12 caricamento dati

In [ ]:
#h cancellata
T = [11, 11, 10, 9, 11, 12, 12, 12, 13, 14, 15, 17, 19, 21, 24, 24, 24, 22, 20, 18, 16, 14, 12, 11]
P = [90, 90, 90, 70, 70, 30, 0, 10, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 10, 15, 20, 25]

#0.5

visualizzare T e P alle 18

In [ ]:
print(T[17])
print(P[17])

#0

22
0

14 visualizzare T da 10 alle 18 compresi estremi

In [ ]:
print(T[9:18])
print(P[9:18])

#1

[14, 15, 17, 19, 21, 24, 24, 24, 22]
[0, 0, 0, 0, 0, 0, 0, 0, 0]

15 visualizzare T e P dalle 12

In [ ]:
print(T[11:])
print(P[11:])

#1

[17, 19, 21, 24, 24, 24, 22, 20, 18, 16, 14, 12, 11]
[0, 0, 0, 0, 0, 0, 0, 0, 5, 10, 15, 20, 25]

16 visualizzare T e P dall inizio fino alle 14

In [ ]:
print(T[:15])
print(P[:15])

#1

[11, 11, 10, 9, 11, 12, 12, 12, 13, 14, 15, 17, 19, 21, 24]
[90, 90, 90, 70, 70, 30, 0, 10, 10, 0, 0, 0, 0, 0, 0]

17 visualizzare T ogni 2 ore partendo da 4

In [ ]:
print(T[4::2])

#1

[11, 12, 13, 15, 19, 24, 24, 20, 16, 12]

18 visualizzare il valore di T più alto

In [ ]:
max(T)
print(max(T))

#1

24

19 visualizzare le probabilità di precipitazione media della giornata

In [ ]:
from statistics import mean 
mean(P)
print(mean(P))

#1

22.291666666666668

20 visualizzare le ore in cui è stat rilevata la T più alta

In [ ]:
Tmax= max(T)
posTmax = T.index(Tmax)
print(posTmax + 1, posTmax + 2, posTmax + 3)

"""
 chiedere se al posto del secondo 24 ci fosse un 25, perchè prende solo quelle
la Tmax, non calcolando
"""
#guardare list comprehension
#posMax = T.index(max(T))
#print(posTmax + 1)

#print(T.index(max(T))+1) #trovare le altre T più alte

15 16 17

'\n chiedere se al posto del secondo 24 ci fosse un 25, perchè prende solo quelle\nla Tmax, non calcolando\n'

In [ ]:
T.sort(reverse=True)
print (T)
print(T.index(max(T)))

[24, 24, 24, 22, 21, 20, 19, 18, 17, 16, 15, 14, 14, 13, 12, 12, 12, 12, 11, 11, 11, 11, 10, 9]
0

21 modifica il dato relativo alla T dalle 16 : da 24 a 25

In [ ]:
#T.pop(15) 
#T.insert(15, 25)
#print(T)

T[15] = 25

#0

22 visualizzare T e P a partire dalle 24 fino all 1

In [ ]:
T.reverse()
P.reverse()

#0.75