<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/verifica_strutture_dati.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrivere il codice richiesto nei vari esercizi facendo in modo di scrivere il codice ottimale per rispondere alla richiesta (il più veloce, quello con meno istruzioni, quello che può funzionare con strutture dati di lunghezza diversa, ...)

##Esercizio 1

Tre amici devono mettersi d'accordo per uscire una sera a bere una birra. Aldo  disponibile il lunedì, il mercoledì e il venerdì, Gianni il martedì, il giovedì e il sabato e Andrea IL mercoledì, il giovedì il venerdì e il sabato.

1. memorizzare le informazioni del testo precedente in una opportuna struttura dati, tenendo anche conto delle richieste degli esercizi successivi

In [ ]:
giorni = {"lunedì","martedì","mercoledì","giovedì","venerdì", "sabato", "domenica"}
aldo = {"lunedì","mercoledì","venerdì"}
gianni = {"martedì", "giovedì", "sabato"}
andrea = {"mercoledì", "giovedì","venerdì", "sabato"}

2. quali giorni potrebbero andare bene a tutti e tre gli amici?

In [ ]:
giorni_ottimali = giorni.intersection(aldo, gianni, andrea)
print(giorni_ottimali, "nessuno")

3. in quali giorni nessuno  libero?

In [ ]:
giorno_occupato_tutti= giorni.difference(aldo, gianni, andrea)
print(giorno_occupato_tutti)

4. in quali giorni Aldo e Andrea sono liberi?

In [ ]:
print("aldo", aldo, "e andrea", andrea)

5. in quali giorni almeno due amici sono liberi?

In [ ]:
giorni_liberi = giorni.intersection(aldo, gianni)
print(giorni_liberi, "nessuno")

giorni_liberi = giorni.intersection(aldo, andrea)
print(giorni_liberi)

giorni_liberi = giorni.intersection(gianni, andrea)
print(giorni_liberi)

##Esercizio 2

Si vogliono  memorizzare i nomi dei re di Roma dal primo all'ultimo ed effettuare su di essi alcune operazioni.

1. memorizzare le informazioni del testo precedente in una opportuna struttura dati, tenendo anche conto delle richieste degli esercizi successivi

In [ ]:
reRoma = ["Romolo", "Numa Pompilio", "Tullo Ostilio", "Anco Marzio", "Tarquinio Prisco", "Servio Tullio", "Tarquinio il Superbo"] #chiedere perchè dovesse essere un insieme, tupla ...

2. visualizzare i nomi del primo e dell'ultimo re di Roma

In [ ]:
print("dal primo all'ultimo", reRoma)

3. visualizzare i nomi dei re dall'ultimo al primo

In [ ]:
for i in reversed(reRoma): #leggere lista al contrario
    print(i)

##Esercizio 3

Si vogliono memorizzare alcune informazioni riguardanti i gas nobili. In particolare si vogliono memorizzare il nome, il simbolo chimico e il numero atomico e permettere all'utente di visualizzare alcune informazioni

1. memorizzare le informazioni del testo precedente in una opportuna struttura dati, tenendo anche conto delle richieste degli esercizi successivi

In [ ]:
gas_nobili = [{"nome":"elio", 
    "simbolo": "He", 
    "N atomico": 2
    }, 

     {
    "nome":"neon", 
    "simbolo": "Ne", 
    "N atomico": 10
    }, 

    {
    "nome":"argon", 
    "simbolo": "Ar", 
    "N atomico": 18
    }, 

     {
    "nome":"kripton", 
    "simbolo": "Kr", 
    "N atomico": 36
    }, 

     {
    "nome":"xeno", 
    "simbolo": "Xe", 
    "N atomico": 54
    }, 

     {
    "nome":"radon", 
    "simbolo": "Rn", 
    "N atomico": 86
    }]

2. far inserire all'utente il nome di un gas nobile e fornire tutte le informaqzioni riguardanti il gas prescelto

In [ ]:
val_input = input("gas nobile = ", )
for gas in gas_nobili:
  if gas["nome"] == val_input:
    print(gas)

3. visualizzare il gas nobile con il numero atomico più alto

In [ ]:
n_atomico = [gas_nobili[i]["N atomico"]for i in range(len(gas_nobili))]
print(max(n_atomico))

for i in gas_nobili:
  if max(n_atomico) == i["N atomico"]:
    print(i["nome"])

4. supporre che sia stao scoperto un nuovo gas nobile, il proton (PR) con numero atomico 37. Aggiungerlo alla struttura dati.

In [ ]:
gas_nobili.append({"nome":"proton"})
gas_nobili.append({"simbolo": "Pr"}) 
gas_nobili.append({"n atomico": "37"}) 

#gas_nobili["nome"] = "proton"
#gas_nobili["simbolo"] = "Pr"
#gas_nobili["n atomico"] = "37"

print(gas_nobili)

5. visualizzare i nomi dei gas nobili in ordine alfabetico

In [ ]:
#gas_nobili.sort())
#print(gas_nobili)

import collections
sorted_dict = collections.OrderedDict(gas_nobili)

##Esercizio 4

1. caricare in una lista 100 numeri casuali compresi tra 1 e 50

In [ ]:
import random
listaCasuale = [random.randint(1,50) for x in range(100)]
print(listaCasuale)

2. eliminare i duplicati

In [ ]:
lista = list(set(listaCasuale))
print(lista)

[3, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50]

3. visualizzare i numeri rimasti che non sono multipli di 3

In [ ]:
for i in lista:
  resto = i % 3
  if resto != 0:
     print(i)