<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/Verifica_liste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1. ordinare i nomi delle province in ordine alfabetico

In [ ]:
province = ["Bergamo", "Brescia", "Como", "Cremona", "Lecco", "Lodi", "Mantova", "Milano", "Monza e della Brianza", "Pavia", "Sondrio", "Varese"]
#province.sort()
print(province)

['Bergamo', 'Brescia', 'Como', 'Cremona', 'Lecco', 'Lodi', 'Mantova', 'Milano', 'Monza e della Brianza', 'Pavia', 'Sondrio', 'Varese']

1.2. visualizzare i nomi delle ultime 3 province

In [ ]:
print(province[-3:])

1.3 cercare in quale posizione si trova la provincia di Milano nell'elenco

In [ ]:
print(province.index("Milano"))

1.4 visualizzare il nome di 3 province a caso

In [ ]:
import random
print(random.choice(province))
import random
print(random.choice(province))
import random
print(random.choice(province))

1.5 visualizzare il nome di 3 province a caso. fare in modo che i nomi delle province non possano presentarsi pi√π volte

In [ ]:
import random
print(random.choice(province))
import random
print(random.choice(province))
import random
print(random.choice(province))

listAppoggio = []
 
for element in province:
    if element not in listAppoggio:
        listAppoggio.append(element)

print(listAppoggio)

1.6 modificare la lista in modo che Monza e della Brianza sia divisa in Monza e Brianza

In [ ]:
x = "Monza e della Brianza"
indice = province.index(x)
province.pop(indice)

newProvince = x.split(" e della ") # vettore con la separazione(Monza/Brianza)
#se assume + di 1 valore diventa un vettore

province.insert(indice, newProvince[0])
province.insert(indice + 1, newProvince[1])


#province.insert (8,"Monza")
#province.insert (9,"Brianza")


#for newprov in newProvince:
 #province.insert(indice, newprov)
 #indice = indice + 1

print(province)

2.1 caricare una lista con i primi 50 multipli di 5

In [ ]:
multipli5 = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250 ]
len(multipli5)

2.2 caricare in una nuova lista solo i mulitipli di 10

In [ ]:
multipli10 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250]

2.3 eliminare dalla seconda lista tutti i valori compresi tra 30 e 60. visuliazzare il num di elementi rimasti nella lista e il num di quelli eliminati

In [ ]:
del multipli10[2:6]
print(len(multipli10))
print(len(multipli10[2:6]))

21
4

2.4. caricare in una nuova lista i 5 elementi centrali

In [ ]:
elementiCentrali = (multipli10[6:11])
print(elementiCentrali)

[110, 120, 130, 140, 150]

2.5. moltiplicare per 10 tutti i numeri della lista precendete

In [ ]:
for valore in elementiCentrali:
  valore = valore * 10
  print((valore ))

1100
1200
1300
1400
1500

In [ ]:
#moltiplicati = [valore for numero in elementiCentrali(numero = numero * 10)]

#differenzareti = [golfatti[indice]-golsubiti[indice] for indice in range(len(golsubiti))]

2.6 mettere in un unica lista tutti i valori preswenti nelle liste precendentemente create

In [ ]:
lista = []
lista.extend (elementiCentrali)
lista.extend (multipli10)
lista.extend (multipli5)
print(lista)

[110, 120, 130, 140, 150, 10, 20, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250]