<a href="https://colab.research.google.com/github/FontanaDaniel1/Python/blob/main/verifica_3E_fila_b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

12 caricamento dati

In [25]:
h = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
T = [11, 11, 10, 9, 11, 12, 12, 12, 13, 14, 15, 17, 19, 21, 24, 24, 24, 22, 20, 18, 16, 14, 12, 11]
P = [90, 90, 90, 70, 70, 30, 0, 10, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 10, 15, 20, 25]

visualizzare T e P alle 18

In [ ]:
print(T[19])
print(P[19])

14 visualizzare T da 10 alle 18 compresi estremi

In [ ]:
print(T[9:18])
print(P[9:18])

15 visualizzare T e P dalle 12

In [ ]:
print(T[12:])
print(P[12:])

16 visualizzare T e P dall inizio fino alle 14

In [ ]:
print(T[0:15])
print(P[0:15])

17 visualizzare T ogni 2 ore partendo da 4

In [ ]:
print(T[4::2])

18 visualizzare il valore di T più alto

In [ ]:
max(T)
print(max(T))

19 visualizzare le probabilità di precipitazione media della giornata

In [ ]:
from statistics import mean 
mean(P)
print(mean(P))

20 visualizzare le ore in cui è stat rilevata la T più alta

In [ ]:
Tmax= max(T)
posTmax = h.index(Tmax)
print(posTmax)

21 modifica il dato relativo alla T dalle 16 : da 24 a 25

In [24]:
T.pop(15) 
T.insert(25, 15)

22 visualizzare T e P a partire dalle 24 fino all 1

In [ ]:
T.reverse()
P.reverse()